<style>
  .box{ width: 800px;
    height: 100px;
    border-radius: 25px;
    padding: 10px;
    border: 2px solid gray;
    margin: 0 auto;
    display: block;
  }
  .translucent{
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194);
    width: 765px
  }
.darkmode--activated #cost {
  background-color: black;
  border-color: grey;
}
.darkmode--activated #title {
  background-color: black;
  border-color: grey;
}
.darkmode--activated #url {
  background-color: black;
  border-color: grey;
}
.darkmode--activated #comment {
  background-color: black;
  border-color: grey;
}
.darkmode--activated #provider {
  background-color: black;
  border-color: grey;
}
.darkmode--activated #TCH {
  background-color: black;
  border-color: grey;
}
.darkmode--activated #BOO {
  background-color: black;
  border-color: grey;
}
.darkmode--activated #image {
  -webkit-filter: invert(1); 
  filter: invert(1);
}
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  outline: none;
  padding: 10px;
  border: 0px;
  margin: center;
}
    .arrow {
        border: solid black;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 7px;
    }
    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    .arrow_pos {
        float: right;
        position: relative;
    }
</style>
<script>
$('.nav-item-d a').addClass("active");
var idscript = "{{result._id}}";
<!--Section for button toggles-->
var ret = "data-123".replace('data-','');
window.alert(ret); 

var dataTopics = (' ' + "{{result.[Data Topic Area]}}").slice(1);
if (dataTopics.includes('Microsoft Office')) {
  dataTopics.replace('Microsoft Office', 'HIHIHIHII');
  window.alert(dataTopics);
};

<!------------------------------>
window.onload = function () {
  var element = document.getElementById(112233);
  if (idscript !== "") {
    element.classList.remove("d-none");
  } else {
    element.classList.add("d-none");
  }
};
</script>

<div class="container">
  <div class="row text-center mb-5">
  <section class="update">
    <h3 class='title'>Update Data</h3>
    <form action"/updatesearch" method="post>
            <label for="idsearch">ID</label>
            <input type="text" id="idsearch" class="form-control" name="idsearch" value="{{result._id}}">
      <button type="submit" class="btn btn-primary">find</button>
    </form>
    </div>
    <div class="container d-none" id="112233">
    <form action="/update" method="post">
        <div class="row mb-2">
                <div class="col darkmode-ignore">
                    <input type="text" id="title" name="title" class="form-control" placeholder="Title"
                           aria-label="title" required value="{{result.Title}}">
                    <div class="invalid-feedback">
                        Please put in a Title.
                    </div>
                    </span>
                </div>
                <div class="col darkmode-ignore">
                    <input type="text" id="url" name="url" class="form-control" placeholder="URL" aria-label="url"
                           required value="{{result.URL}}">
                    <div class="invalid-feedback">
                        Please put in a URL.
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col darkmode-ignore">
                    <input type="text" id="TCH" name="TCH" class="form-control" placeholder="Time Commitment (Hours)"
                           aria-label="TCH" required value="{{result.[Time Commitment (Hours)]}}">
                    <div class="invalid-feedback">
                        Please put the Time Commitment.
                    </div>
                </div>
                <div class="col darkmode-ignore">
                    <input type="text" id="cost" name="cost" class="form-control" placeholder="Cost in $"
                           aria-label="cost" required value="{{result.Cost}}">
                    <div class="invalid-feedback">
                        Please put in the Cost.
                    </div>
                </div>
                <div class="col" align="center">
                    <div class="btn-group d-flex" role="group" aria-label="Self paced or instructor led">
                        <input class="btn-check" type="radio" name="SPIL" id="SPILself" value="Self-Paced" checked>
                        <label class="btn btn-outline-primary" for="SPILself">
                            Self-Paced
                        </label>
                        <input class="btn-check" type="radio" name="SPIL" id="SPILins" value="Instructor Led">
                        <label class="btn btn-outline-primary" for="SPILins">
                            Instructor Led
                        </label>
                    </div>
                </div>
                <div class="col" align="center">
                    <div class="btn-group d-flex" role="group" aria-label="Does training offer Certificate or Degree"
                         id="CDP">
                        <input class="btn-check" type="checkbox" name="CDP" value="Certificate" id="CDPCert">
                        <label class="btn btn-outline-primary" for="CDPCert">
                            Certificate
                        </label>
                        <input class="btn-check" type="checkbox" name="CDP" value="Degree" id="CDPDeg">
                        <label class="btn btn-outline-primary" for="CDPDeg">
                            Degree
                        </label>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="btn-group d-flex" role="group" aria-label="Barrier to Entry Select" id="BE">	
                    <input type="radio" class="btn-check" name="BE" id="BEBeg" autocomplete="off" value="Beginner"
                           checked>
                    <label class="btn btn-outline-primary" for="BEBeg">Beginner</label>
                    <input type="radio" class="btn-check" name="BE" id="BEInter" autocomplete="off"
                           value="Intermediate">
                    <label class="btn btn-outline-primary" for="BEInter">Intermediate</label>
                    <input type="radio" class="btn-check" name="BE" id="BEAdv" autocomplete="off" value="Advanced">
                    <label class="btn btn-outline-primary" for="BEAdv">Advanced</label>
                    <input type="radio" class="btn-check" name="BE" id="BEExp" autocomplete="off" value="Expert">
                    <label class="btn btn-outline-primary" for="BEExp">Expert</label>
 		</div> 
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="btn-group d-flex" role="group" aria-label="Public or DOD" id="PDOD">
                        <input type="radio" class="btn-check" name="PDOD" id="PDODP" autocomplete="off" value="Public"
                               checked>
                        <label class="btn btn-outline-primary" for="PDODP">Public</label>
                        <input type="radio" class="btn-check" name="PDOD" id="PDODD" autocomplete="off" value="DOD">
                        <label class="btn btn-outline-primary" for="PDODD">DOD</label>
                    </div>
                </div>
                <div class="col darkmode-ignore">
                    <input type="text" id="provider" name="provider" class="form-control"
                           placeholder="Service/Training Provider" aria-label="Provider" required value="{{result.Provider}}">
                    <div class="invalid-feedback" >
                        Please put in the Provider.
                    </div>
                </div>
                <div class="col darkmode-ignore">
                    <input type="text" id="BOO" name="BOO" class="form-control" placeholder="Location of Provider"
                           aria-label="Location of Provider"  required value="{{result.[Base of Operations]}}">
                    <div class="invalid-feedback">
                        Please put in the Location of the Provider.
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="btn-group d-flex" role="group" aria-label="In Person or Remote" id="PR">
                        <input type="radio" class="btn-check" name="PR" id="PRR" autocomplete="off" value="Remote"
                               checked>
                        <label class="btn btn-outline-primary" for="PRR">Remote</label>
                        <input type="radio" class="btn-check" name="PR" id="PRP" autocomplete="off" value="In Person">
                        <label class="btn btn-outline-primary" for="PRP">In Person</label>
                    </div>
                </div>
                <div class="col">
                    <div class="btn-group  d-flex" role="group" aria-label="Learning Type" id="LT">
                        <input class="btn-check" type="checkbox" name="LT" value="Text" id="LTT">
                        <label class="btn btn-outline-primary" for="LTT">Text</label>
                        <input class="btn-check" type="checkbox" name="LT" value="Video" id="LTV">
                        <label class="btn btn-outline-primary" for="LTV">Video</label>
                        <input class="btn-check" type="checkbox" name="LT" value="Book" id="LTB">
                        <label class="btn btn-outline-primary" for="LTB">Book</label>
                        <input class="btn-check" type="checkbox" name="LT" value="Lecture" id="LTL">
                        <label class="btn btn-outline-primary" for="LTL">Lecture</label>
                        <input class="btn-check" type="checkbox" name="LT" value="Interactive" id="LTI">
                        <label class="btn btn-outline-primary" for="LTI">Interactive</label>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="collapsible" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <small class="text-muted" style="vertical-align: top;">Programs, Languages, and
                                        other Data Topics</small>
                                    <i class="arrow down arrow_pos"></i>
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <div class="btn-group d-flex row row-cols-lg-6 row-cols-auto" role="group"
                                         aria-label="Data Topic Select Menus">
                                        <input class="btn-check" type="checkbox" name="DTA" value="Data Science"
                                               id="DTADataSci">
                                        <label class="btn btn-outline-primary" for="DTADataSci">Data Science</label>
                                        <input class="btn-check" type="checkbox" name="DTA" value="Tutorial"
                                               id="DTATut">
                                        <label class="btn btn-outline-primary" for="DTATut">Tutorial</label>
                                        <input class="btn-check" type="checkbox" name="DTA" value="AI/Machine Learning"
                                               id="DTAAI">
                                        <label class="btn btn-outline-primary" for="DTAAI">Machine Learning</label>
                                        <input class="btn-check" type="checkbox" name="DTA" value="Coding" id="DTACode">
                                        <label class="btn btn-outline-primary" for="DTACode">Coding</label>
                                        <input class="btn-check" type="checkbox" name="DTA" value="Computer Skills"
                                               id="DTAComSkil">
                                        <label class="btn btn-outline-primary" for="DTAComSkil">Computer
                                            Skills</label>
                                        <input class="btn-check" type="checkbox" name="DTA" value="Program Skills"
                                               id="DTAProSkil">
                                        <label class="btn btn-outline-primary" for="DTAProSkil">Program Skills</label>
                                    </div>
                                    <div class="btn-group d-flex row row-cols-lg-6 row-cols-auto" role="group"
                                         aria-label="Language and Program Select Menus">
                                        <input class="btn-check" type="checkbox" name="LPS" value="Microsoft Office"
                                               id="LPSOffice">
                                        <label class="btn btn-outline-primary" for="LPSOffice">Microsoft
                                            Office</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Excel" id="LPSExcel">
                                        <label class="btn btn-outline-primary" for="LPSExcel">Excel</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Word" id="LPSWord">
                                        <label class="btn btn-outline-primary" for="LPSWord">Word</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Flank Speed"
                                               id="LPSFlank">
                                        <label class="btn btn-outline-primary" for="LPSFlank">Flank Speed</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="PowerPoint"
                                               id="LPSPower">
                                        <label class="btn btn-outline-primary" for="LPSPower">PowerPoint</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="OneDrive"
                                               id="LPSOneD">
                                        <label class="btn btn-outline-primary" for="LPSOneD">OneDrive</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Python" id="LPSPy">
                                        <label class="btn btn-outline-primary" for="LPSPy">Python</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Java" id="LPSJava">
                                        <label class="btn btn-outline-primary" for="LPSJava">Java</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Javascript"
                                               id="LPSJavas">
                                        <label class="btn btn-outline-primary" for="LPSJavas">Javascript</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="C / C+" id="LPSC">
                                        <label class="btn btn-outline-primary" for="LPSC">C/C++</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="R" id="LPSR">
                                        <label class="btn btn-outline-primary" for="LPSR">R</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Julia" id="LPSJulia">
                                        <label class="btn btn-outline-primary" for="LPSJulia">Julia</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Matlab" id="LPSMat">
                                        <label class="btn btn-outline-primary" for="LPSMat">Matlab</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="LabVIEW"
                                               id="LPSLabv">
                                        <label class="btn btn-outline-primary" for="LPSLabv">Labview</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Simulink"
                                               id="LPSSimu">
                                        <label class="btn btn-outline-primary" for="LPSSimu">Simulink</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="SAS" id="LPSSAS">
                                        <label class="btn btn-outline-primary" for="LPSSAS">SAS</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="COMSOL"
                                               id="LPSCOMSOL">
                                        <label class="btn btn-outline-primary" for="LPSCOMSOL">COMSOL</label>
                                        <input class="btn-check" type="checkbox" name="LPS" value="Rhino" id="LPSRhino">
                                        <label class="btn btn-outline-primary" for="LPSRhino">Rhino</label>
                                    </div>
                                    <div class="row mx-auto mt-3">
                                        <input type="text" id="DTAOther" name="DTA" class="form-control"
                                               placeholder="Other" aria-label="Other">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col darkmode-ignore">
                    <textarea class="form-control" id="comment" name="comment" placeholder="Put any comments here"
                              rows="3">{{result.Comment}}</textarea>
                </div>
            </div>

            <!-- Button to insert data into database and call on submit Modal -->
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" id="submit" style="margin:20px" class="btn btn-primary">Submit</button>
            </div>
    </form>
</section>
  </div>

  <div class="row text-center">
      <section class="delete">
          <h3>Delete Data</h3>
          <form action="/delete" method="post">
              <div class="input">
                  <label for="id">ID</label>
                  <input type="text" id="id" name="id" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary">DELETE</button>
          </form>
      </section>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

