<!-- Styling for each search result -->
<style>

    /*****************************************************************
        Creating the container specifications the contains the results
    *****************************************************************/
    .results {
        margin-top: 25px;
    }

    /*****************************************************************
        Creating the container specifications the contains each
        individual result
    *****************************************************************/


    /* Position */
    .tag_pos {
        float: right;
        position: relative;
        right: 10px;
    }

    .tag_pos2 {
        float: left;
        position: relative;
        left: 10px;
    }

    .tag_pos3 {
        float: left;
        position: relative;
        left: 12px;
    }

    .tag_pos4 {
        float: left;
        position: relative;
        left: 14px;
    }

    .collapsible-heading_pos {
        float: left;
        position: relative;
        left: 10px;
    }

    .arrow_pos {
        float: right;
        position: relative;
    }

    /* Container Style*/
    .item {
        border-width: 1px;
        border-style: solid;
        border-color: black;
    }

    .vote_style{
        cursor: pointer;
        border: ridge;
        border-color: #718F8A;
    }

    .vote_container{
        text-align: right;
        position: relative;
        right: 15px;
    }

    .collapsible {
        background-color: #eee;
        cursor: pointer;
        width: 100%;
        border: none;
        outline: none;
    }

    .focus_collapsible {
        background-color: #aaa;
    }

    .hover_collapsible {
        background-color: #aaa;
    }

    /* Text Attributes */
    .collapsible-heading {
        font-size: 25px;
        color: #232323;
        font-weight: 500;
    }

    .inner_collapse{
        cursor: pointer;
        width: 100%;
        border: none;
        outline: none;
        padding: 10px
    }

    .collapsible-heading2 {
        font-size: 25px;
        color: #232354;
        font-weight: 200;
    }

    .tag_style {
        font-size: 15px;
    }
    /*****************************************************************
        Creating the specifications or other elements on the page
    *****************************************************************/
    .arrow {
        border: solid black;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 7px;
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .pos {
        position: absolute;
        top: 90px;
        right: 20px;
        font-weight: 500;
        font-size: 17px
    }

    .secret{
        visibility: hidden;
    }
</style>

<!-- Navigation bar to show that current tab is active -->
<script>
    $('.nav-item-a a').addClass("active");
</script>

<!-- Filter Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Button to call on Help Tutorial Modal/Pop-up -->
    <span class="d-inline-block" tabindex="0" data-toggle="modal" data-target="#myModal1">
        <button type="button" class="btn" data-toggle="modal" disabled>
            <img src="images/Help_Icon.png" alt="help">
        </button>
    </span>

    <!-- Modal for the Help Tutorial Contents -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Tutorial Help</h4>
                </div>

                <div class="modal-body">
                    <p>Here are the results of training resources from your search. Click on each resource to see the details
                        of said resource.</p>
                    <p>Use the filters at the top of the page and below the navigation bar to specify your search even further.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Filter Categories -->
    <a class="navbar-brand" style="margin-left: 10px"> <b>Filters </b> <br> <small class="text-muted"><span id="result">
        <div class="spinner-border spinner-border-sm" role="status"><span class="visually-hidden">Loading...</span>
            </div></span> results</small></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarFilter"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarFilter" role="group">
        <form action="/get_data" method="post">
        <ul class="navbar-nav">
            <li class="nav-item-dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="CostDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Cost
                </a>
                <div class="dropdown-menu" aria-labelledby="CostDropdownMenuLink" role="group" id="TST">
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input"  name="TST" id="FreedropdownCheck" value="Free">
                            <label class="form-check-label" for="FreedropdownCheck">
                                Free 
                            </label>
                        </div>
                    </a> 
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="TST" id="PaiddropdownCheck" value="Paid">
                            <label class="form-check-label" for="PaiddropdownCheck">
                                Paid
                            </label>
                        </div>
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="BarrierDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Experience Level
                </a>
                <div class="dropdown-menu" aria-labelledby="BarrierDropdownMenuLink" role="group" id="LVL">
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="BegindropdownCheck" name="LVL" value="Beginner">
                            <label class="form-check-label" for="BegindropdownCheck">
                                Beginner
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="InterdropdownCheck" name="LVL" value="Intermediate">
                            <label class="form-check-label" for="InterdropdownCheck">
                                Intermediate
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="AdvdropdownCheck" name="LVL" value="Advanced">
                            <label class="form-check-label" for="AdvdropdownCheck">
                                Advanced
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="ExpdropdownCheck" name="LVL" value="Expert">
                            <label class="form-check-label" for="ExpdropdownCheck">
                                Expert
                            </label>
                        </div>
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="ClearDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Clearance
                </a>
                <div class="dropdown-menu" aria-labelledby="ClearDropdownMenuLink" role="group" id="PDOD">
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="PDOD" id="PublicdropdownCheck" value="Public">
                            <label class="form-check-label" for="PublicdropdownCheck">
                                Public
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="PDOD" id="DODdropdownCheck" value="DOD">
                            <label class="form-check-label" for="DODdropdownCheck">
                                DOD Only
                            </label>
                        </div>
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="RDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Placement
                </a>
                <div class="dropdown-menu" aria-labelledby="RDropdownMenuLink" role="group" id="RIP">
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="RIP" id="RdropdownCheck" value="Remote">
                            <label class="form-check-label" for="RdropdownCheck">
                                Remote
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="RIP" id="IndropdownCheck" value="In Person">
                            <label class="form-check-label" for="IndropdownCheck">
                                In Person
                            </label>
                        </div>
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="PaceDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Pacing
                </a>
                <div class="dropdown-menu" aria-labelledby="PaceDropdownMenuLink" role="group" id="SPIL">
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="SPIL" id="SelfdropdownCheck" value="Self Paced">
                            <label class="form-check-label" for="SelfdropdownCheck">
                                Self Paced
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="SPIL" id="InstructdropdownCheck" value="Instructor Led">
                            <label class="form-check-label" for="InstructdropdownCheck">
                                Instructor Led
                            </label>
                        </div>
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="LearnDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Learning Type
                </a>
                <div class="dropdown-menu" aria-labelledby="LearnDropdownMenuLink" role="group" id="LRN">
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="LRN" id="BdropdownCheck" value="Book">
                            <label class="form-check-label" for="BdropdownCheck">
                                Book
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="LRN" id="TdropdownCheck" value="Text">
                            <label class="form-check-label" for="TdropdownCheck">
                                Text
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="LRN" id="VdropdownCheck" value="Video">
                            <label class="form-check-label" for="VdropdownCheck">
                                Video
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="LRN" id="LdropdownCheck" value="Lecture">
                            <label class="form-check-label" for="LdropdownCheck">
                                Lecture
                            </label>
                        </div>
                    </a>   
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="LRN" id="CdropdownCheck" value="Classroom">
                            <label class="form-check-label" for="CdropdownCheck">
                                Classroom
                            </label>
                        </div>
                    </a>  
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="LRN" id="IdropdownCheck" value="Interactive">
                            <label class="form-check-label" for="IdropdownCheck">
                                Interactive
                            </label>
                        </div>
                    </a>                                  
                </div>
            </li>
            <button type="submit" class="btn btn-outline-secondary">Submit</button>
            </ul>   
        </div>
            <input type="hidden" id="SD" name="SD" value={{ specdata }}></a>
            <input type="hidden" id="ST" name="ST" value={{ spectopic }}></a>
    </form>
</nav>


<!--===========================================================---
    Styling the results so that they are presented as accordion
    elements
 ---===========================================================-->
<section class="results" id="accordionItems">
    {{# each items }}
    <!--=========================================================---
        Displaying the number of terms that are returned from the
        search
     ---=========================================================-->
    <div>
        {{#if @last}}
        <script>
            var position = {{@index}}
            document.getElementById("result").innerHTML = position + 1;
        </script>
        {{/if}}
    </div>

    <div class="item">
        <!--=========================================================---
            Creating the interactable accordion style buttons and the
            headings associated with them
         ---=========================================================-->
        <div class="collapsible" id="collapse{{this._id}}">
            <button class="collapsible" id="collapse_button{{this._id}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItemDetails{{this._id}}" aria-expanded="false" aria-controls="collapseItemDetails{{this._id}}">
                <div class="row">
                    <div class="col-sm">
                        <span class="collapsible-heading_pos"> <span class="collapsible-heading"> {{this.Title}} : </span> <span class="collapsible-heading2"> {{ this.[Learning type] }} </span> <span class="tag_style badge bg-secondary" id="Cert/Deg{{this._id}}"> Processing </span></span>
                        <script>
                        var tag =  document.getElementById("Cert/Deg{{this._id}}");
                        if("{{ this.[Certificate/Degree Program] }}" != "No"){
                            tag.innerHTML = "Certificate";
                        }else {
                            tag.remove();
                        }
                        </script>
                    </div>
                    <div class="col-">
                        <i class="arrow up arrow_pos" id="arrow{{this._id}}"></i>
                        <span class="tag_pos tag_style badge bg-secondary">Difficulty: {{ this.[Barrier to Entry]}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <span class="tag_pos2 tag_style badge bg-secondary">{{ this.[In person vs Remote] }}</span>
                        <span class="tag_pos3 tag_style badge bg-secondary">{{ this.[Self Paced vs Instructor Led] }}</span>
                        <span class="tag_pos4 tag_style badge bg-secondary">{{ this.[Public/DOD] }}</span>
                    </div>
                    <div class="col-">
                        {{#if this.[Helpfullness Rating]}}
                            <span class="tag_pos tag_style badge bg-secondary">Rating: {{ this.[Helpfullness Rating] }}%</span>
                        {{/if}}
                    </div>
                </div>
            </button>
            <form action="/get-data/vote" method="post">
                <div class="vote_container">
                    <button type="submit" name="Vote" class="vote_style grow" value="Liked"><i class="fas fa-thumbs-up fa-2x"></i></button>
                    <button type="submit" name="Vote" class="vote_style" value="Disliked"><i class="fas fa-thumbs-down fa-2x"></i></button>

                    <input class="accordion-body" type="text" id="id{{this._id}}" name="id" value="{{this._id}}" property="{{this._id}}">
                    <input class="accordion-body" type="text" id="title{{this._id}}" name="title" value="{{this.Title}}" property="{{this.Titile}}">
                    <input class="accordion-body" type="text" id="url{{this._id}}" name="url" value="hello" property="hello">

                    <script>
                        var id = document.getElementById("id{{this._id}}");
                        var pageURL = document.getElementById("url{{this._id}}");
                        var title = document.getElementById("title{{this._id}}");

                        id.style.display = "none";
                        pageURL.value = window.location.href;
                        pageURL.style.display = "none";
                        title.style.display = "none";
                    </script>
                </div>
            </form>
        </div>

        <script>
            collapse_button{{this._id}}.onfocus = function(){
                if(this.classList.contains("focus_collapsible")){
                    this.classList.remove("focus_collapsible");
                    collapse{{this._id}}.classList.remove("focus_collapsible");
                }else{
                    this.classList.add("focus_collapsible");
                    collapse{{this._id}}.classList.add("focus_collapsible");
                }

                if(arrow{{this._id}}.classList.contains("up")){
                    arrow{{this._id}}.classList.remove("up");
                    arrow{{this._id}}.classList.add("down");
                }else{
                    arrow{{this._id}}.classList.remove("down");
                    arrow{{this._id}}.classList.add("up");
                }
                this.blur();
            }

            collapse_button{{this._id}}.onmouseover = function(){
                this.classList.add("hover_collapsible");
                collapse{{this._id}}.classList.add("hover_collapsible");
            }

            collapse_button{{this._id}}.onmouseout = function(){
                this.classList.remove("hover_collapsible");
                collapse{{this._id}}.classList.remove("hover_collapsible");
            }

        </script>

        <!--=========================================================---
            Creating a container and displaying the extra information
            for each resource
         ---=========================================================-->
        <div id="collapseItemDetails{{this._id}}" class="accordion-collapse collapse" aria-labelledby="collapseItem item" data-bs-parent="#accordionItems">
            <div class="accordion-body">
                <h5><a href="{{this.URL}}">{{ this.URL }}</a></h5>
                <div><b>Time Commitment:</b> {{ this.[Time Commitment (Hours)] }} hours</div>
                <div><b>Data Topic Area:</b> {{ this.[Data Topic Area] }}</div>
                <div><b>Programming Language:</b> {{ this.[Programming Language] }}</div>
                <div><b>Provider:</b> {{ this.Provider }}</div>
                <div><b>Cost:</b> ${{ this.Cost }}</div>
                <div><b>Comment:</b> {{ this.Comment }}</div>
            </div>

                <button class="inner_collapse" id="collapsAdmin{{this._id}}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItemAdmin{{this._id}}" aria-expanded="false" aria-controls="collapseItemDetails{{this._id}}">
                    Admin Details
                </button>
                <div id="collapseItemAdmin{{this._id}}" class="accordion-collapse collapse" aria-labelledby="collapseItem item">
                    <div>Base of Operations: {{ this.[Base of Operations] }}</div>
                    <div>Topics for Graphing: {{ this.[Topics for Graphing] }}</div>
                    <div>ID: {{ this._id }}</div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    {{else}}
        <script>
            document.getElementById("result").innerHTML = 0;
        </script>
    {{/each}}
</section>

<script>
    var test = window.location.href;
        if(test.includes("cost=Free")){
            $('#FreedropdownCheck.form-check-input').prop('checked', true);
            if(test.includes("Paid")){
                $('#PaiddropdownCheck.form-check-input').prop('checked', true);
            };
        };
        if(test.includes("cost=Paid")){
            $('#PaiddropdownCheck.form-check-input').prop('checked', true);
            if(test.includes("Free")){
                $('#FreedropdownCheck.form-check-input.1').prop('checked', true);
            };
        };
        if(test.includes("level=Beginner")){
            $('#BegindropdownCheck.form-check-input').prop('checked', true);
            if(test.includes("Intermediate")){
                $('#InterdropdownCheck.form-check-input').prop('checked', true);
            };
            if(test.includes("Advanced")){
                $('#AdvdropdownCheck.form-check-input').prop('checked', true);
            };
            if(test.includes("Expert")){
                $('#ExpdropdownCheck.form-check-input').prop('checked', true);
            };
        };
        if(test.includes("level=Intermediate")){
            $('#InterdropdownCheck.form-check-input').prop('checked', true);
            if(test.includes("Advanced")){
                $('#AdvdropdownCheck.form-check-input').prop('checked', true);
            };
            if(test.includes("Expert")){
                $('#ExpdropdownCheck.form-check-input').prop('checked', true);
            };
        };
        if(test.includes("level=Advanced")){
            $('#AdvdropdownCheck.form-check-input').prop('checked', true);
            if(test.includes("Expert")){
                $('#ExpdropdownCheck.form-check-input').prop('checked', true);
            };
        };
        if(test.includes("level=Expert")){
                $('#ExpdropdownCheck.form-check-input').prop('checked', true);
            };



        if(test.includes("public=Public")){
            $('#PublicdropdownCheck.form-check-input').prop('checked', true);
            if(test.includes("DOD")){
                $('#DODdropdownCheck.form-check-input').prop('checked', true);
            };
        };
        if(test.includes("public=DOD")){
            $('#DODdropdownCheck.form-check-input').prop('checked', true);
            if(test.includes("Public")){
                $('#PublicdropdownCheck.form-check-input').prop('checked', true);
            };
        };

        if(test.includes("remote=Remote")){
            $('#RdropdownCheck.form-check-input').prop('checked', true);
            if(test.includes("In")){
                $('#IndropdownCheck.form-check-input').prop('checked', true);
            };
        };
        if(test.includes("remote=In")){
            $('#IndropdownCheck.form-check-input').prop('checked', true);
            if(test.includes("Remote")){
                $('#RdropdownCheck.form-check-input').prop('checked', true);
            };
        };

        if(test.includes("pacing=Self")){
            $('#SelfdropdownCheck.form-check-input').prop('checked', true);
            if(test.includes("Instructor")){
                $('#InstructdropdownCheck.form-check-input').prop('checked', true);
            };
        };
        if(test.includes("pacing=Instructor")){
            $('#InstructdropdownCheck.form-check-input').prop('checked', true);
            if(test.includes("Self")){
                $('#SelfdropdownCheck.form-check-input').prop('checked', true);
            };
        };
        if(test.includes("learn=Book")){
            $('#BdropdownCheck.form-check-input').prop('checked', true);
            if(test.includes("Text")){
                $('#TdropdownCheck.form-check-input').prop('checked', true);
            };
            if(test.includes("Video")){
                $('#VdropdownCheck.form-check-input').prop('checked', true);
            };
            if(test.includes("Lecture")){
                $('#LdropdownCheck.form-check-input').prop('checked', true);
            };
            if(test.includes("Classroom")){
                $('#CdropdownCheck.form-check-input').prop('checked', true);
            };
            if(test.includes("Interactive")){
                $('#IdropdownCheck.form-check-input').prop('checked', true);
            };
        };
        if(test.includes("learn=Text")){
            $('#TdropdownCheck.form-check-input').prop('checked', true);
            if(test.includes("Video")){
                $('#VdropdownCheck.form-check-input').prop('checked', true);
            };
            if(test.includes("Lecture")){
                $('#LdropdownCheck.form-check-input').prop('checked', true);
            };
            if(test.includes("Classroom")){
                $('#CdropdownCheck.form-check-input').prop('checked', true);
            };
            if(test.includes("Interactive")){
                $('#IdropdownCheck.form-check-input').prop('checked', true);
            };
        };
        if(test.includes("learn=Video")){
            $('#VdropdownCheck.form-check-input').prop('checked', true);
            if(test.includes("Lecture")){
                $('#LdropdownCheck.form-check-input').prop('checked', true);
            };
            if(test.includes("Classroom")){
                $('#CdropdownCheck.form-check-input').prop('checked', true);
            };
            if(test.includes("Interactive")){
                $('#IdropdownCheck.form-check-input').prop('checked', true);
            };
        };
        if(test.includes("learn=Lecture")){
            $('#LdropdownCheck.form-check-input').prop('checked', true);
            if(test.includes("Classroom")){
                $('#CdropdownCheck.form-check-input').prop('checked', true);
            };
            if(test.includes("Interactive")){
                $('#IdropdownCheck.form-check-input').prop('checked', true);
            };
        };
        if(test.includes("learn=Classroom")){
                $('#CdropdownCheck.form-check-input').prop('checked', true);
            if(test.includes("Interactive")){
                $('#IdropdownCheck.form-check-input').prop('checked', true);
            };
        };
        if(test.includes("learn=Interactive")){
                $('#IdropdownCheck.form-check-input').prop('checked', true);
        };
</script>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
