<style>
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}




</style>
<script>
$('.nav-item-a a').addClass("active");
</script>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
          title="Use these filters to hone in on your desired training resource.">
    <button type="button" class="btn" data-toggle="tooltip" data-placement="right" disabled>
        <img src="images/Help_Icon.png" alt="help">
    </button>
    </span>
    <a class="navbar-brand" style="margin-left: 10px"> <b>Filters</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarFilter"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarFilter">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="CostDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Cost
                </a>
                <div class="dropdown-menu" aria-labelledby="CostDropdownMenuLink">
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="FreedropdownCheck">
                            <label class="form-check-label" for="FreedropdownCheck">
                                Free
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="PaiddropdownCheck">
                            <label class="form-check-label" for="PaiddropdownCheck">
                                Paid
                            </label>
                        </div>
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="BarrierDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Experience Level
                </a>
                <div class="dropdown-menu" aria-labelledby="BarrierDropdownMenuLink">
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="BegindropdownCheck">
                            <label class="form-check-label" for="BegindropdownCheck">
                                Beginner
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="InterdropdownCheck">
                            <label class="form-check-label" for="InterdropdownCheck">
                                Intermediate
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="AdvdropdownCheck">
                            <label class="form-check-label" for="AdvdropdownCheck">
                                Advanced
                            </label>
                        </div>
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="ClearDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Clearance
                </a>
                <div class="dropdown-menu" aria-labelledby="ClearDropdownMenuLink">
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="PublicdropdownCheck">
                            <label class="form-check-label" for="PublicdropdownCheck">
                                Public
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="DODdropdownCheck">
                            <label class="form-check-label" for="DODdropdownCheck">
                                DOD Only
                            </label>
                        </div>
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="RDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Placement
                </a>
                <div class="dropdown-menu" aria-labelledby="RDropdownMenuLink">
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="BdropdownCheck">
                            <label class="form-check-label" for="BdropdownCheck">
                                Remote
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="IndropdownCheck">
                            <label class="form-check-label" for="IndropdownCheck">
                                In Person
                            </label>
                        </div>
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="PaceDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Pacing
                </a>
                <div class="dropdown-menu" aria-labelledby="PaceDropdownMenuLink">
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="SelfdropdownCheck">
                            <label class="form-check-label" for="SelfdropdownCheck">
                                Self Paced
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="InstructdropdownCheck">
                            <label class="form-check-label" for="InstructdropdownCheck">
                                Instructor Led
                            </label>
                        </div>
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="LearnDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Learning Type
                </a>
                <div class="dropdown-menu" aria-labelledby="LearnDropdownMenuLink">
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="BdropdownCheck">
                            <label class="form-check-label" for="BdropdownCheck">
                                Book
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="TdropdownCheck">
                            <label class="form-check-label" for="TdropdownCheck">
                                Text
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="VdropdownCheck">
                            <label class="form-check-label" for="VdropdownCheck">
                                Video
                            </label>
                        </div>
                    </a>
                    <a class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="HdropdownCheck">
                            <label class="form-check-label" for="HdropdownCheck">
                                Hands-On
                            </label>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<!--The start of the accordion style content-->
<section class="get" id="accordionItems">
    {{# each items }}
        <div class="item">
            <h2 class="collapsible" id="headingItem">
                <button class="collapsible" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseItem{{this._id}}" aria-expanded="false"
                        aria-controls="collapseItem{{this._id}}">
                    {{this.Title}}
                </button>
            </h2>
            <div id="collapseItem{{this._id}}" class="accordion-collapse collapse show"
                 aria-labelledby="headingItem collapseItem" data-bs-parent="#accordionItems">
                <div class="accordion-body">
                    <div>URL: {{ this.URL }}</div>
                    <div>Provider: {{ this.Provider }}</div>
                    <div>Cost: {{ this.Cost }}</div>
                    <div>Public/DOD: {{ this.[Public/DOD] }}</div>
                    <div>Time Commitment (Hours): {{ this.[Time Commitment (Hours)] }}</div>
                    <div>Certificate/Degree Program: {{ this.[Certificate/Degree Program] }}</div>
                    <div>Data Topic Area: {{ this.[Data Topic Area] }}</div>
                    <div>Programming Language: {{ this.[Programming Language] }}</div>
                    <div>Base of Operations: {{ this.[Base of Operations] }}</div>
                    <div>Barrier to Entry: {{ this.[Barrier to Entry] }}</div>
                    <div>Self Paced vs Instructor Led: {{ this.[Self Paced vs Instructor Led] }}</div>
                    <div>Learning type: {{ this.[Learning type] }}</div>
                    <div>In person vs Remote: {{ this.[In person vs Remote] }}</div>
                    <div>Useful Training?: {{ this.[Useful Training?] }}</div>
                    <div>Comment: {{ this.Comment }}</div>
                    <div>Topics for Graphing: {{ this.[Topics for Graphing] }}</div>
                    <div>ID: {{ this._id }}</div>
                    <br>
                </div>
            </div>
        </div>

    {{/each}}
</section>
<!--<section class="get">
    <h3>Get Data</h3>
    <div id="accordion">
      {{# each items }}
        <div class="item">
          <div class="card-header" id="headingOne">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapsiable" aria-expanded="false" aria-controls="collapsiable">
              {{ this.Title }}
            </button>
          </div>

          <div id="collapsiable" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              URL: {{ this.URL }}
              Provider: {{ this.Provider }}
              Time Commitment (Hours): {{ this.[Time Commitment (Hours)] }}
            </div>
          </div>

            <div>Title: {{ this.Title }}</div>
            <div>URL: {{ this.URL }}</div>
            <div>Provider: {{ this.Provider }}</div>
            <div>Cost: {{ this.Cost }}</div>
            <div>Public/DOD: {{ this.[Public/DOD] }}</div>
            <div>Time Commitment (Hours): {{ this.[Time Commitment (Hours)] }}</div>
            <div>Certificate/Degree Program: {{ this.[Certificate/Degree Program] }}</div>
            <div>Data Topic Area: {{ this.[Data Topic Area] }}</div>
            <div>Programming Language: {{ this.[Programming Language] }}</div>
            <div>Base of Operations: {{ this.[Base of Operations] }}</div>
            <div>Barrier to Entry: {{ this.[Barrier to Entry] }}</div>
            <div>Self Paced vs Instructor Led: {{ this.[Self Paced vs Instructor Led] }}</div>
            <div>Learning type: {{ this.[Learning type] }}</div>
            <div>In person vs Remote: {{ this.[In person vs Remote] }}</div>
            <div>Useful Training?: {{ this.[Useful Training?] }}</div>
            <div>Comment: {{ this.Comment }}</div>
            <div>Topics for Graphing: {{ this.[Topics for Graphing] }}</div>
            <div>ID: {{ this._id }}</div>
            <br>
        </div>
      {{/each}}
    </div>
</section>-->


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
