<h1>MONGODB - EXERCISE</h1>


<section class="insert">
    <h3>Insert Data</h3>
    <form action="/insert" method="post">
        <div class="input">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="input">
            <label for="url">URL:</label>
            <input type="text" id="url" name="url">
        </div>
        <div class="input">
            <label for="provider">Provider:</label>
            <input type="text" id="provider" name="provider">
        </div>
        <div class="input">
            <label for="cost">Cost:</label>
            <input type="text" id="cost" name="cost">
        </div>
        <div class="input">
            <label for="PDOD">Public/DOD:</label>
            <input type="text" id="PDOD" name="PDOD">
        </div>
        <div class="input">
            <label for="TCH">Time Commitment (Hours):</label>
            <input type="text" id="TCH" name="TCH">
        </div>
        <div class="input">
            <label for="CDP">Certificate/Degree Program:</label>
            <input type="text" id="CDP" name="CDP">
        </div>
        <div class="input">
            <label for="DTA">Data Topic Area:</label>
            <input type="text" id="DTA" name="DTA">
        </div>
        <div class="input">
            <label for="PL">Programming Language: </label>
            <input type="text" id="PL" name="PL">
        </div>
        <div class="input">
            <label for="BOO">Base of Operations:</label>
            <input type="text" id="BOO" name="BOO">
        </div>
        <div class="input">
            <label for="BE">Barrier to Entry</label>
            <input type="text" id="BE" name="BE">
        </div>
        <div class="input">
            <label for="SPIL">Self Paced vs Instructor Led:</label>
            <input type="text" id="SPIL" name="SPIL">
        </div>
        <div class="input">
            <label for="LT">Learning type:</label>
            <input type="text" id="LT" name="LT">
        </div>
        <div class="PR">
            <label for="cost">In person vs Remote:</label>
            <input type="text" id="PR" name="PR">
        </div>
        <div class="input">
            <label for="UT">Useful Training: </label>
            <input type="text" id="UT" name="UT">
        </div>
        <div class="input">
            <label for="comment">Comment:</label>
            <input type="text" id="comment" name="comment">
        </div>
        <div class="input">
            <label for="TG">Topics for Graphing:</label>
            <input type="text" id="TG" name="TG">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section>

<section class="specify">
    <h3>Specify Search</h3>
    <form action="/specify" method="post">
            <select class="DTA" name="DTA">
                <option selected>Title</option>
                <option value="URL">URL</option>
                <option value="Public/DOD">Public/DOD</option>
                <option value="Time Commitment (Hours)">Time Commitment (Hours)</option>
                <option value="Certificate/Degree Program">Certificate/Degree Program</option>
                <option value="Data Topic Area">Data Topic Area</option>
                <option value="Programming Language">Programming Language</option>
                <option value="Base of Operations">Base of Operations</option>
                <option value="Barrier to Entry">Barrier to Entry</option>
                <option value="Self Paced vs Instructor Led">Self Paced vs Instructor Led</option>
                <option value="Learning type">Learning type</option>
                <option value="In person vs Remote">In person vs Remote</option>
                <option value="Useful Training?">Useful Training?</option>
                <option value="Comment">Comment</option>
                <option value="Topics for Graphing">Topics for Graphing</option>
            </select>
        <div class="input">
            <label for="SpefString">Specific String</label>
            <input type="text" id="SpefString" name="SpefString">
        </div>
        <button type="submit">INSERT</button>
    </form>
</section>

<section class="get">
    <h3>Get Data</h3>
    <a href="/get-data">LOAD DATA</a>
    <div>
        {{# each items }}
            <article class="item">
                <div>Title: {{ this.Title }}</div>
                <div>URL: {{ this.URL }}</div>
                <div>Provider: {{ this.Provider }}</div>
                <div>Cost: {{ this.Cost }}</div>
                <div>Public/DOD: {{ this.[Public/DOD] }}</div>
                <div>Time Commitment (Hours): {{ this.[Time Commitment (Hours)] }}</div>
                <div>Certificate/Degree Program: {{ this.[Certificate/Degree Program] }}</div>
                <div>Data Topic Area: {{ this.[Data Topic Area] }}</div>
                <div>Programming Language: {{ this.[Programming Language] }}</div>
                <div>Base of Operations: {{ this.[Base of Operations] }}</div>
                <div>Barrier to Entry: {{ this.[Barrier to Entry] }}</div>
                <div>Self Paced vs Instructor Led: {{ this.[Self Paced vs Instructor Led] }}</div>
                <div>Learning type: {{ this.[Learning type] }}</div>
                <div>In person vs Remote: {{ this.[In person vs Remote] }}</div>
                <div>Useful Training?: {{ this.[Useful Training?] }}</div>
                <div>Comment: {{ this.Comment }}</div>
                <div>Topics for Graphing: {{ this.[Topics for Graphing] }}</div>
                <div>ID: {{ this._id }}</div>
                <br>
            </article>
        {{/each}}
    </div>
</section>

<section class="update">
    <h3>Update Data</h3>
    <form action="/update" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <div class="input">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="input">
            <label for="content">Content</label>
            <input type="text" id="content" name="content">
        </div>
        <div class="input">
            <label for="author">Author</label>
            <input type="text" id="author" name="author">
        </div>
        <button type="submit">UPDATE</button>
    </form>
</section>
</section>

<section class="delete">
    <h3>Delete Data</h3>
    <form action="/delete" method="post">
        <div class="input">
            <label for="id">ID</label>
            <input type="text" id="id" name="id">
        </div>
        <button type="submit">DELETE</button>
    </form>
</section>
